.memory-card:hover {
  cursor: pointer;
}
.pink {
  background-color: #ff69b4;
}
.red {
  background-color: #c1301c;
}
.orange {
  background-color: #c96112;
}
.yellow {
  background-color: #c4a705;
}
.teal {
  background-color: #259e9e;
}
.green {
  background-color: #177245;
}
.blue {
  background-color: #2e5793;
}
.purple {
  background-color: #4b2882;
}

.memory-card-scene {
  perspective: 600px;
}
.memory-card-container {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 700ms;
  transform-style: preserve-3d;
}
.flipped {
  transform: rotateY(180deg);
}
.memory-card {
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
}
.back {
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(235, 235, 224);
}
.front {
  transform: rotateY(180deg);
}
