.memory-card {
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(235, 235, 224);
}

.memory-card:hover {
  cursor: pointer;
}
.pink {
  background-color: #ff69b4;
}
.red {
  background-color: #c1301c;
}
.orange {
  background-color: #c96112;
}
.yellow {
  background-color: #c4a705;
}
.teal {
  background-color: #259e9e;
}
.green {
  background-color: #177245;
}
.blue {
  background-color: #2e5793;
}
.purple {
  background-color: #4b2882;
}
