.App-header {
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 2rem;
}

.text-container {
  margin: 5rem auto;
  margin-bottom: 20rem;
  padding: 1em;
  padding-bottom: 2.5rem;
  background-color: darkgrey;
  width: 80vw;
  text-align: center;
}

footer {
  bottom: 0;
  width: 100%;

  background-color: darkgrey;

  text-align: center;
}

footer h2 {
  padding-bottom: 2rem;
  margin-bottom: 0;
}

.github-repo-link {
  margin: 0.5rem;
  font-size: 1.2rem;
  transition: all 0.2s;
  fill: black;
}

.github-repo-link:hover {
  font-size: 1.4rem;
  fill: #fee38c;
}
