.snake-grid {
  display: grid;
  grid-template-columns: repeat(20, auto);
  grid-template-rows: repeat(12, auto);
  border: 1px solid black;
  margin-top: 1vw;
  height: 24vw;
}
.snake-cell {
  border: 1px solid rgb(236, 236, 236);
  background-color: white;
}

.head {
  background-color: black;
}
.tail {
  background-color: grey;
}
.food {
  background-color: darkred;
}
