body {
  background: url("./images/pacman.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

h1,
a {
  font-family: "Fruktur", cursive;
}

p,
h3 {
  font-family: "Roboto", sans-serif;
}
